[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
camelcase = "*"
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"
langchain-community = "*"
langchainhub = "*"
flask = "*"
langsmith = "*"

[dev-packages]

[requires]
python_version = "3.11"
